*, *:before, *:after{
    box-sizing: border-box;
}

body {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 90%;
    margin: 3rem auto;
    padding: .7rem;
    background-color: white;
    overflow: hidden;
}

.row {
    margin-bottom: 1rem;
    clear: both;
}

.align-right {
    text-align: right;
}

.btn {
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 3px;
}

.success {background-color:#46a049} 
.success:hover {background-color: #46a049;}

.danger {background-color: #f44336;}
.danger:hover {background: #da190b;}

#main-info-panel {
    display: flex;
    justify-content: space-between;
}

#family-image-panel {
    width: 40%;
    max-width: 40%;
}


#service-info-panel {
    margin-left:10px;
    margin-right: 10px;
}

#service-heading {
    text-align: center;
    color: white;
    background-color:#8bc642;
    line-height: 1.5;
    padding: 3PX; 
    border-radius: 3px;
}

#family-image-panel img {
    width: 100%;
    height: 225px;
}

.heading-style {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
}


#services-panel {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}


.float-left {
    float: left;
}


.float-right {
    float: right;
}

.clear {
    clear: both;
}


#your-order {
    color:#f05623;
}

#we-gather {
    color:#fcbe1d;
}

#we-deliver{
    color:#6f1f29;
}

.small-text {
    font-size: 13px;
}


.grey {
    color: grey;
}


#product-panel {
    width: 70%;
    max-width: 70%; 
    float: left;
}

#side-panel {
    width: 29%;
    max-width: 29%;
    margin-left: 1%;
    float: right;
}

#dairy-products {
    color:#f05623;
}

.product-section {
    margin-bottom: 15px;
    overflow: hidden;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.margin-right {
    margin-right: 10px;
}

select {
    padding: 5px;
    background-color: white;
    border: 1px solid lightgrey;
    color: grey;
    padding: 8px 5px;
}

.paged-item {
    display: inline-block;
    border: 1px solid lightgrey;
    background-color: white;
    padding: 6px 12px;
}

.active-page {
    color: white;
    background-color: #f05623;
}


.side-panel-item {
    padding: 4%;
    border: 1px solid lightgrey;
    margin-bottom: 5%;
    border-radius: 1%;
    overflow: hidden;
}



.side-panel-item-title {
    Color: #46a049;
    font-size: 2rem;
    margin-bottom: 1em;
}

.side-panel-item  ul {
    padding-left: 0;
    font-size: 1.5rem;
    list-style-type: none;
    list-style-position: inside;
    list-style-image: url("../images/5.png");
    margin-bottom: 0;
    margin-top: 0;
}

.side-panel-item li {
    color: grey;
    line-height: 2.5rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
}


.slaes-products-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.slaes-products-row>div {
    width: 32%;
}

.slaes-products-row div>img {
    height: 250px;
    border: 1px solid lightgrey;
    margin-bottom: 1.1rem;
}

.bold {
    font-weight: bold;
}


.product-item {
    text-align: center;
    color: grey;
}

.product-title {
    display: block;
    margin-bottom: 3px;
    color: black;
}

.red {
    color: red;
}

.product-price {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #8bc642;
}



form {
    width:70%;
    display: flex;
    padding-top: 2%;
}
.sub-email {
    padding:8px 15px;
    border:1px solid lightgrey;
}
.sub-button {
    position:relative;
    padding:6px 15px;
    border:2px solid #46a049;
    color: white;
}



.no-border {
    border: 0;
}

#side-footer {
    display: flex;
    margin-bottom: 0.5rem;
}

#footer-logo {
    width: 50%;
    max-width: 50%;
}

#footer-links {
    margin-left: 10%;
    width: 40%;
    max-width: 50%;
    text-align: right;
}

#social-links {
    display: flex;
    justify-content: space-between;
}


#recent-items-list {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.recent-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.recent-item-img {
    border: 1px solid lightgrey;
    width: 24%;
    max-width: 24%;
}

.recent-item-info {
    margin-left: 5%;
    width: 70%;
    max-width: 70%;
}


hr {
    border-color: lightgray;
}