*, *::before, *::after {
    box-sizing: border-box;
}

header > h1 {
    text-align: center;
}
section, div {
    padding: 10px;
}

article {
    display: flex;
    flex-flow: column wrap;
    width: 95%;
    margin: 1em auto;
    background-color: aliceblue;
    max-width: 800px;
    padding: 1em;
}


#post {
    background-color: antiquewhite;
    border-radius: 0.3em;
}

#comments-panel > div {
    background-color: beige;
    border-radius: 0.3em;
    margin-bottom: 1em;
    overflow: hidden;
}

#editor-panel {
    background-color: bisque;
    border-radius: 0.3em;
    margin-bottom: 1em;
    overflow: hidden;
}

#editor {
    width: 100%;
}

#editor-panel button {
    float: right;
    padding: 5px 10px;
}

#comments-panel button {
    float: right;
    width: 30px;
    margin-left: 5px;
    height: 30px;
}
