*, *:before, *:after{
    box-sizing: border-box;
}

body {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 90%;
    margin: 3rem auto;
    padding: .7rem;
    background-color: white;
    overflow: hidden;
}

.row {
    margin-bottom: 1rem;
    clear: both;
}

.align-right {
    text-align: right;
}

.btn {
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 3px;
}

.success {background-color:#46a049} 
.success:hover {background-color: #46a049;}

.danger {background-color: #f44336;}
.danger:hover {background: #da190b;}

#main-info-panel {
    display: flex;
    justify-content: space-between;
}

#family-image-panel {
    width: 40%;
    max-width: 40%;
}


#service-info-panel {
    margin-left:10px;
    margin-right: 10px;
}

#service-heading {
    text-align: center;
    color: white;
    background-color:#8bc642;
    line-height: 1.5;
    padding: 3PX; 
    border-radius: 3px;
}

#family-image-panel img {
    width: 100%;
    height: 225px;
}

.heading-style {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
}


#services-panel {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}


.float-left {
    float: left;
}


.float-right {
    float: right;
}

.clear {
    clear: both;
}


#your-order {
    color:#f05623;
}

#we-gather {
    color:#fcbe1d;
}

#we-deliver{
    color:#6f1f29;
}

.small-text {
    font-size: 13px;
}


.grey {
    color: grey;
}


#product-panel {
    width: 70%;
    max-width: 70%; 
    float: left;
}

#side-panel {
    width: 29%;
    max-width: 29%;
    margin-left: 1%;
    float: right;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



#dairy-products {
    color:#f05623;
}

.product-section {
    margin-bottom: 15px;
    overflow: hidden;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.margin-right {
    margin-right: 10px;
}


.page-selection-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

select {
    background: transparent;
    padding: 3px;
    color: grey;
}

.paged-item {
    display: inline-block;
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    color: grey;
    text-decoration: none;
}

.right-page-selection-info > div{
    display: inline-block;
}

.page-info {
    margin-right: 5px;
}

.active-page {
    color: white;
    background-color: #f05623;
}


.side-panel-item {
    padding: 4%;
    border: 1px solid lightgrey;
    margin-bottom: 5%;
    border-radius: 1%;
    overflow: hidden;
}



.side-panel-item-title {
    Color: #46a049;
    font-size: 32px;;
    margin-bottom: 1em;
}

.side-panel-item  ul {
    padding-left: 0;
    font-size: 24px;
    list-style-type: none;
    list-style-position: inside;
    list-style-image: url("../images/5.png");
    margin-bottom: 0;
    margin-top: 0;
}

.side-panel-item li {
    color: grey;
    line-height: 2.5rem;
    background-position: 0 0;
}


.slaes-products-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}


.slaes-products-row>div {
    margin: 12px;
}

.slaes-products-row div>img {
    height: 250px;
    border: 1px solid lightgrey;
    margin-bottom: 1rem;
}

.bold {
    font-weight: bold;
}


.product-item {
    text-align: center;
    color: grey;
}

.product-title {
    display: block;
    margin-bottom: 3px;
    color: black;
}

.red {
    color: red;
}

.product-price {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #8bc642;
}



form {
    width:70%;
    display: flex;
    padding-top: 2%;
}
.sub-email {
    padding:8px 15px;
    border:1px solid lightgrey;
}
.sub-button {
    position:relative;
    padding:6px 15px;
    border:2px solid #46a049;
    color: white;
}



.no-border {
    border: 0;
}

#side-footer {
    display: flex;
    margin-bottom: 0.5rem;
}

#footer-logo {
    width: 50%;
    max-width: 50%;
}

#footer-links {
    margin-left: 10%;
    width: 40%;
    max-width: 50%;
    text-align: right;
}

#social-links {
    display: flex;
    justify-content: space-around;
}


#recent-items-list {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.recent-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.recent-item-img {
    border: 1px solid lightgrey;
    width: 24%;
    max-width: 24%;
}

.recent-item-info {
    margin-left: 5%;
    width: 70%;
    max-width: 70%;
}


hr {
    border-color: lightgray;
    width: 100%;
}


@media only screen and (min-width: 1368px)  {
    .container {
        max-width: 1220px;
    }
}

@media only screen and (min-width: 1147px) and (max-width: 1367px) {
}

@media only screen and (max-width: 1146px) { 
    #service-heading {
        font-size: 0.85rem;
    }
}


@media only screen and (max-width: 1031px) {
    .container {
    }
    
    #family-image-panel{
        display: none;
    }
    
    #service-info-panel {
        width: 60%;
    }
}


@media only screen and (max-width: 990px) {
    .page-info {
        margin-right: 3px;
    }
    
    
    #product-panel {
        width: 100%;
        max-width: 100% ;
        float: none;
    }

    #side-panel {
        width: 100%;
        max-width: 100%;
        margin-left: 0%;
        float: none;

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #newsletter {
        display: none;
    }
    
    #side-panel > div {
        width: 33%;
    }
    
    #side-panel > footer {
        width: 100%;
    }
    
    
    .side-panel-item-title {
        Color: #46a049;
        font-size: 24px;;
    }

    .side-panel-item  ul {

        font-size: 16px;
    }

    .side-panel-item li {
        color: grey;
        line-height: 1.5rem;
        background-position: 0 0;
    }
    
    .page-selection-info {
        font-size: 12px;
    }
}





@media only screen and (max-width: 760px) {
    
    
}



@media only screen and (max-width: 633px) {
    
    #upper-page-selection-info{
        display: none;
    }
    .left-page-selection-info{
        display: none;
    }
    
    .page-selection-info {
        justify-content: center;
    }
    
    #service-info-panel {
        width: 100%;
        margin: auto;
    }
    
    #main-info-panel {
        flex-direction: column-reverse;
    }
    
    #logo-panel > img {
        
        margin: 2% auto;
        padding-left: 20%;
        padding-right: 20%;
    }
    
    #side-panel > div {
        width: 100%;
    }
    
    #side-panel > div:nth-child(1) {
        order: 3;
    }
    
    #side-panel > div:nth-child(2) {
        order: 1;
    }
    
    #side-panel > div:nth-child(3) {
        order: 2;
    }
    
    #side-panel > footer {
        order: 5;
    }
}