header > h1 {
    text-align: center;
}
section, div {
    padding: 10px;
}

article {
    display: flex;
    flex-flow: row wrap;

}

article > section {
    background-color: aliceblue;
    width: 45%;
    margin : 1em auto;
    border-radius: 0.5em;
    padding: 1em;
}

div label, div input, form div textarea {
    display: block;
    margin-bottom: 0.3em;
    width: 100%;
}

form > div {
    background-color: antiquewhite;
    margin-bottom: 0.5em;
    border-radius: 0.3em;
}

form input[type='checkbox'], form input[type='radio'] {
    display: inline-block;
    width: auto;
}

form div span {
    display: inline-block;
}

label {
    font-weight: bold;
}

#optionsList li span {
    margin-right: 1em;
}

#optionsList li {
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 700px) {
    article > section {
        width: 95%;
       
    }
}